<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<block th:fragment="block (questionList)">
    <!-- Content Row -->
    <div class="row rounded shadow bg-white p-4 ml-0 mr-0 mb-5" th:each="ques : ${questionList}">
        <div class="row mb-4">
            <div class="col-12">
                <div class="border-bottom pb-2">
                    <span class="text text-primary"
                          th:text="${ques.title} + ' (' + ${ques.lecCode}+'_'+${ques.subCode} + ')'">제목</span>
                    <span class="text ml-2" th:text="${ques.date}">1일 전</span>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <div class="border-bottom pb-4">
                            <span class="text text-dark" th:text="${ques.content}">내용</span>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-10">
                <textarea class="form-control " id="commentText" rows="2"></textarea>
            </div>
            <div class="d-flex col-2 align-items-center">
                <button type="button" class="btn btn-primary ml-3">등록</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <!-- data-bs-target을 밑에 div id와 맞춰야 저 div만 접었다 폈다가 됨-->
                <button type="button" class="btn btn-primary ml-3" data-bs-toggle="collapse" data-bs-target="#comment" role="button"
                        aria-expanded="false" aria-controls="comment">답변 보기</button>
            </div>
            <div class="collapse" id="comment">
                <block th:replace="qna/common/comment.html :: block"></block>
            </div>
        </div>
    </div>
</block>
</html>