<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head('과제 제출 조회')"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 왼쪽 사이드바 -->
    <ul th:replace="fragments/left-sidebar.html :: ul"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Top bar -->
            <!-- ********************** 이름 어떻게 하는지 모르겠어요 ***************************** -->
            <nav th:replace="fragments/topbar.html :: nav(${name})"></nav>

            <div class="card shadow mb-5">
                <div class="card-header py-3">
                    <h1 th:text="${homework.title}">제목</h1>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <h4 class="small font-weight-bold">내용: </h4>
                        <span th:text="${homework.content}">내용</span>
                        <hr class="sidebar-divider">
                    </div>
                    <div th:if="${!fileList.isEmpty()}">
                        <a th:href="@{'/download/' + ${fileList.get(0).id}}"
                           th:text="${fileList.get(0).originFilename}"></a>
                        <hr>
                    </div>
                    <div th:if="${submitted == 0}"><h4 class="small font-weight-bold">제출 기한</h4>
                        <span th:text="${#temporals.format(homework.dueDate, 'yyyy-MM/dd HH시 mm분')}">마감날짜</span>
                        <hr>
                    </div>
                    <div th:if="${submitted == 1}"><h4 class="small font-weight-bold">점수</h4>
                        <span th:text="${homework.grade}">점수</span>
                        <hr>
                    </div>
                    <div th:if="${submitted == 0}">
                        <a th:href="@{'/homework/submit/'+${homework.hwId}}">제출</a>
                    </div>
                    <div th:if="${submitted == 1}">
                        <a th:href="@{'/homework/submit/'+${homework.hwId.hwId}}">수정</a>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/footer.html :: footer"></footer>

    </div>
    <!-- End of Content Wrapper -->
    <!-- 오른쪽 사이드바 -->
    <ul th:replace="fragments/right-sidebar.html :: ul"></ul>
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="modal/ModalManager.html :: logoutModal"></th:block>

<!-- scripts -->
<footer th:replace="fragments/script.html :: script"></footer>
</body>

</html>