<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1 th:text="${homework.title}">제목</h1><hr></div>

<div ><h3>내용 :</h3>
    <span th:text="${homework.content}">내용</span><hr></div>
<div th:if="${!fileList.isEmpty()}">
    <a th:href="@{'/download/' + ${fileList.get(0).id}}" th:text="${fileList.get(0).originFilename}"></a>
    <hr></div>
<div th:if="${submitted == 0}"><h3>제출 기한</h3>
    <span th:text="${homework.dueDate}">제출 기한</span><hr></div>
<div th:if="${submitted == 1}" ><h3>점수</h3>
    <span th:text="${homework.grade}">점수</span><hr></div>
<div th:if="${submitted == 0}">
    <a th:href="@{'/homework/submit/'+${homework.hwId}}">제출</a>
</div>
<div th:if="${submitted == 1}">
    <a th:href="@{'/homework/submit/'+${homework.hwId.hwId}}">수정</a>
</div>
</body>
</html>