<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head.html :: head(title='메인화면')"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 왼쪽 사이드바 -->
    <ul th:replace="fragments/left-sidebar.html :: ul"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- ********************** 이름 어떻게 하는지 모르겠어요 ***************************** -->
            <nav th:replace="fragments/topbar.html :: nav(${name})"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- 출석률 -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <!-- <h1 class="h3 mb-0 text-gray-800">출석률</h1>-->
                    <button th:align="right">새로고침</button>
                </div>

                <!-- 상단에 출석 관련된 과목 보여줌 -->
                <!--<div th:replace="attendance/attend-Lecture.html :: lecture-timeline"></div>-->

                <!-- 출석률, 바 그래프 -->
                <div th:replace="attendance/attend-Lecture.html :: lecture-attendRateAdmin"></div>

                <!-- Content Row -->
                <hr class="sidebar-divider">

                <!-- 달력 -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h5 class="h3 mb-0 text-gray-800" th:text="${initLecTitle}+' 담당 학생 출석 조회'">담당 학생 출석 체크</h5>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th style="width: 10%">이름</th>
                                <th style="width: 20%">학번</th>
                                <th style="10%">주차</th>
                                <th style="width: 30%">출석 여부</th>
                                <th style="width: 30%">출석 관리</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="initStudent: ${initStudents}">
                                <form action="/attend" method="post">
                                    <input type="hidden" th:name="${_csrf.parameterName}"
                                           th:value="${_csrf.token}"/>
                                    <input type="hidden" th:name="stId" th:value="${initStudent.id}"/>
                                    <input type="hidden" th:name="instId" th:value="${id}"/>
                                    <input type="hidden" th:name="lecCode" th:value="${initLecCode}"/>
                                    <input type="hidden" th:name="subCode" th:value="${initSubCode}"/>
                                    <td th:text="${initStudent.name}">김범규</td>
                                    <td th:text="${initStudent.id}">2017112083</td>
                                    <td>
                                        <div class="row">
                                            <input type="number" th:name="week" th:value="${initStudent}"/>
                                        </div>
                                    </td>
                                    <!--<td th:if="${i}" ></td>-->
                                    <td>미정</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-8">
                                                <label>
                                                    <select th:name="status">
                                                        <option th:value="attend">출석</option>
                                                        <option th:value="late">지각</option>
                                                        <option th:value="absence">결석</option>
                                                        <option th:value="vacancy">공결</option>
                                                    </select>
                                                </label>
                                                <div class="col-4">
                                                    <button type="submit" class="btn btn-primary">확인</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </form>
                            </tr>

                            </tbody>
                        </table>
                        <!-- 수정 필요 -->
                        <div class="col-4" style="margin: auto">
                            <button type="submit" class="btn btn-primary" style="width:50%">갱신</button>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
    <!-- End of Content Wrapper -->

    <!-- 오른쪽 사이드바 -->
    <ul th:replace="fragments/right-sidebar.html :: ul"></ul>

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="modal/ModalManager.html :: logoutModal"></th:block>

<!-- scripts -->
<footer th:replace="fragments/script.html :: script"></footer>
</body>

</html>