<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head.html :: head(title='메인화면')"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 왼쪽 사이드바 -->
    <ul th:replace="fragments/left-sidebar.html :: ul"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/topbar.html :: nav(${name})"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- 상단에 출석 관련된 과목 보여줌 -->
                <!--<div th:replace="attendance/attend-Lecture.html :: lecture-timeline"></div>-->

                <!-- 출석률, 바 그래프 -->
                <div th:replace="attendance/attend-Lecture.html :: lecture-attendRateAdmin"></div>

                <!-- Content Row -->
                <hr class="sidebar-divider">

                <!-- Content Row -->
                <div class="card shadow mt-4 mb-4">
                    <div class="card-header py-3">
                        <h6 class="mb-0 font-weight-bold text-primary"
                            th:text="${thisLecTitle}+'_'+${thisSubCode}+' 담당 학생 출석 조회'">담당 학생 출석 체크</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%">이름</th>
                                        <th style="width: 20%">학번</th>
                                        <th style="width: 20%">주차</th>
                                        <th style="width: 20%">출석 여부</th>
                                        <th style="width: 30%">출석 관리</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="member: ${members}">
                                        <!--<form action="/attend" method="post">-->
                                        <td th:text="${member.name}">학생이름</td>
                                        <td th:text="${member.id}">학번</td>
                                        <!--<form action="#" method="post">-->
                                            <!--<input type="hidden" th:name="${_csrf.parameterName}"
                                                   th:value="${_csrf.token}"/>
                                            <input type="hidden" th:name="stId" th:value="${member.id}"/>
                                            <input type="hidden" th:name="instId" th:value="${id}"/>
                                            <input type="hidden" th:name="lecCode" th:value="${thisLecCode}"/>
                                            <input type="hidden" th:name="subCode" th:value="${thisSubCode}"/>-->
                                            <td>
                                                <!--th:text ="${map.getKey().getWeek()}"-->
                                                <div class="row">
                                                    <label>
                                                        <input type="number" th:name="week"
                                                               th:placeholder="1주차"/>
                                                    </label>
                                                </div>
                                            </td>
                                            <!--<td th:if="${i}" ></td>-->
                                            <!--<td th:text="${map.getValue().get(0).getStatus()}"></td>-->
                                            <th>미정</th>
                                            <td>
                                                <div class="row">
                                                    <div class="col-8 d-flex justify-content-center align-self-center">
                                                        <label class="mb-0">
                                                            <select th:name="status">
                                                                <option th:value="미정">미정</option>
                                                                <option th:value="출석">출석</option>
                                                                <option th:value="지각">지각</option>
                                                                <option th:value="결석">결석</option>
                                                                <option th:value="공결">공결</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                    <div class="col-4 d-flex align-self-center">
                                                        <button type="submit" class="btn btn-primary">수정</button>
                                                    </div>
                                                </div>
                                            </td>
                                        <!--</form>-->
                                        <!--</form>-->
                                    </tr>
                                    </tbody>
                                </table>
                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
    <!-- End of Content Wrapper -->

    <!-- 오른쪽 사이드바 -->
    <ul th:replace="attendance/attend-rightsidbar.html :: attend-right-sidebar"></ul>

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="modal/ModalManager.html :: logoutModal"></th:block>

<!-- scripts -->
<footer th:replace="fragments/script.html :: script"></footer>
</body>

</html>