<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- 과제 타임라인 / 관리 학생 현황 -->
<div th:fragment="lecture-timeline" class="timeline" >
    <!-- 과제1 today(red) -->
    <div class="col-xl-3 col-md-6 mb-4" th:each="lecture : ${lectures}">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1"
                             th:text="${lecture.lecTitle} +'_'+${lecture.subCode}"> 과목명 분반 </div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-calendar-check fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 학생 클래스별 출석률  -->
<div th:fragment="lecture-attendRateStudent" class="row">
    <div class="col-lg-12 mb-0">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">클래스별 출석률</h6>
            </div>
            <div class="card-body" th:each="lecture : ${lectures}">
                <h4 class="small font-weight-bold" th:text="${lecture.lecTitle} +'_'+${lecture.subCode}">수업 정보<span
                        class="float-right">40%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 관리자 클래스별 출석률  -->
<div th:fragment="lecture-attendRateAdmin" class="row mb-4">
    <div class="col-lg-12">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">클래스별 출석률</h6>
            </div>
            <div class="card-body" th:each="lecture : ${lectures}">
                <h4 class="small font-weight-bold" th:text="${lecture.lecTitle} +'_'+${lecture.subCode}">수업 정보<span
                        class="float-right">40%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>