<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="footer" class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2021- 2학기 소프트웨어공학</span><b>일찍 칼퇴팀</b><br/><br/>
            <b>프론트엔드 - </b><span>김범규, 김민석</span><br/><br/>
            <b>백엔드 - </b><span>이정욱, 최준호</span><br/>
        </div>
    </div>
</footer>
</html>