<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Sidebar -->
<ul th:fragment="ul" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar_">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{'/main'}">
        <div>
            <i class="fas fa-school"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Mate Study</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" th:href="@{'/main'}">
            <i class="fas fa-home"></i>
            <span>홈</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - 출석 -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fab fa-odnoklassniki"></i>
            <span>출석</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/attandance.html">출석 확인</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <!-- Nav Item - 과제 -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-book"></i>
            <span>과제</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-bs-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" th:href="@{'/homework'}">모든 과제</a>
                <div th:if="${role} == '[INSTRUCTOR]'">
                    <a th:href="@{''}" class="collapse-item">과제 채점</a>
                </div>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - 질문 -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="far fa-question-circle"></i>
            <span>질문</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-bs-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/login.html">Login</a>
                <a class="collapse-item" href="/register.html">Register</a>
                <a class="collapse-item" href="/forgot-password.html">Forgot Password</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - 채팅 -->
    <li class="nav-item">
        <a class="nav-link" href="/charts.html">
            <i class="far fa-comments"></i>
            <span>채팅</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - 로그아웃 -->
    <li class="nav-item">
        <a class="nav-link" href="/tables.html">
            <i class="fas fa-sign-out-alt"></i>
            <span>로그아웃</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

     <!--Sidebar Toggler (Sidebar) -->
    <!--<div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>-->
</ul>
<!-- End of Sidebar -->
</html>