<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Sidebar -->
<ul th:fragment="ul" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{'/main'}">
        <div>
            <i class="fas fa-school"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- 과목 리스트 -->
    <div th:each="lecture : ${lectures}">
        <li class="nav-item" >
            <a class="nav-link collapsed" th:href="@{'/homework-admin/'+${lecture.lecCode}+'/'+${lecture.subCode}}"
            >
                <i class="fab fa-odnoklassniki"></i>
                <span th:text="${lecture.lecTitle}">출석</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
    </div>


</ul>
</html>