<!--
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MateStudy - 로그인</title>
</head>
<body>
    <div>
        실습 관리 시스템에 오신걸 환영합니다.<br/>
        <form action="">
            아이디 <input type="text"/><br/>
            비밀번호 <input type="password"/><br/>
            <a href="#">비밀번호 변경</a><br/>
            <button type="submit">로그인</button>
        </form>
    </div>
</body>
</html>-->
