
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head.html :: head(title='메인화면')"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 왼쪽 사이드바 -->
    <ul th:replace="fragments/left-sidebar.html :: ul"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- ********************** 이름 어떻게 하는지 모르겠어요 ***************************** -->
            <nav th:replace="fragments/topbar.html :: nav(${name})"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- 과제 -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">과제</h1>
                </div>

                <!-- 과제 타임라인 / 관리 학생 현황 -->
                <div class="timeline">

                    <!-- 과제1 today(red) -->
                    <div class="col-xl-3 col-md-6 mb-4" th:each="homework,index : ${allHomeworkList}">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1"
                                             th:text="${homework.getSecond().get().lecTitle} +'_'+${homework.getFirst().subCode}">소프트웨어 공학</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${remainDate[index.index]}">몇일 전</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-calendar-check fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Content Row -->
                <hr class="sidebar-divider">
                <!-- 최근 질문 현황-->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">최근 질문 현황</h1>
                </div>
                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-5 col-lg-7">
                        <div class="row rounded shadow bg-white p-1 ml-0 mr-0 mb-2" th:each="ques : ${questionList}">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div class="border-bottom pb-2">
                                        <span class="text text-primary"
                                        th:text="${ques.lecTitle}">이름</span>
                                        <span class="text ml-2" th:text="${ques.stName}+' '+${ques.date}">1일 전</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class=" pb-0">
                                        <a style="color: #2d2e33" th:href="@{'/qna-admin/'+${ques.lecCode}+'/'+${ques.subCode}}"
                                           th:if="${role} == '[INSTRUCTOR]'" th:text="${ques.title}">내용</a>
                                        <a style="color: #2d2e33" th:href="@{'/qna-student/'+${ques.lecCode}+'/'+${ques.subCode}}"
                                           th:if="${role} == '[STUDENT]'" th:text="${ques.title}">내용</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-7 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">실습 관리 통계</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                                <div th:if="${role} == '[INSTRUCTOR]'" class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> 담당 학생 수
                                        </span>
                                    <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> 등록한 과제 수
                                        </span>
                                    <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> 제출된 과제 수
                                        </span>
                                </div>
                                <div th:if="${role} == '[STUDENT]'" class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> 수강 과목 수
                                        </span>
                                    <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> 등록한 과제 수
                                        </span>
                                    <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> 제출한 과제 수
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-4">

                    </div>

                    <div class="col-lg-6 mb-4">

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
    <!-- End of Content Wrapper -->

    <!-- 오른쪽 사이드바 -->
    <ul th:replace="fragments/right-sidebar.html :: ul"></ul>

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="modal/ModalManager.html :: logoutModal"></th:block>

<!-- scripts -->
<footer th:replace="fragments/script.html :: script"></footer>
</body>

</html>
