<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MateStudy-대시보드</title>
</head>
<body>
    <form action="/api/account/modify" method="post">
        <input name="id" placeholder="학번">
        <input name="password" placeholder="비밀번호">
        <button type="submit">비밀번호 변경</button>
    </form>
</body>
</html>