<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head(title='질문게시판')"></head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- 왼쪽 사이드바 -->
    <ul th:replace="fragments/left-sidebar.html :: ul"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- ********************** 이름 어떻게 하는지 모르겠어요 ***************************** -->
            <nav th:replace="fragments/topbar.html :: nav(${name})"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">질문 게시판</h1>
                </div>
                <div class="d-inline-flex mb-4">
                    <button type="button" class="btn btn-primary toggle-btn">최근 질문</button>
                    <button type="button" class="btn btn-secondary toggle-btn ml-2">나의 질문</button>
                    <!--<button type="button" class="btn btn-secondary toggle-btn ml-3"
                            th:onclick="'location.href=\'/qna-register/'+${lecCode}+'/'+${subCode}+'\''">질문 등록</button>-->
                    <a th:href="@{'/qna/register/'+${lecCode}+'/'+${subCode}}" class="btn btn-secondary toggle-btn ml-3" role="button">질문 등록</a>
                </div>

                <!-- Content Row -->
                <block th:replace="qna/common/question.html :: block(questionList = ${questionList})"></block>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
    <!-- 오른쪽 사이드바 -->
    <ul th:replace="qna/qna-right-sidebar.html :: qna-right-sidebar"></ul>
</div>
<!-- End of Page Wrapper -->

<!-- Logout Modal-->
<th:block th:replace="modal/ModalManager.html :: logoutModal"></th:block>

<!-- scripts -->
<footer th:replace="fragments/script.html :: script"></footer>
<!-- 무한 스크롤 -->
<script src="js/qna/infinite-scroll-docs.min.js"></script>
<!-- 토클 버튼 -->
<script src="js/qna/buttonToggle.js"></script>
</body>
</html>